.header {
    @apply w-auto text-lg bg-gray-300 shadow-lg mb-2;
}

.imgLogo {
    @apply m-auto w-24 h-24;
}

.links {
    @apply flex text-lg bg-gray-200 py-2 shadow-lg;
}

.link {
    @apply flex-1 text-center;
}